body{
  font-family: Josefin Sans;
  color: #011126;
  background-color: #DDDDDD;
}

.hero{
  background-image: url(../img/yo5.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 99%;
  height: 600px;
  margin-top: 20px;
  padding-top: 50px;
}
.bg-blue a {
  color: #FFFFFF;
}
.bg-blue{
  background-color: #29a5bb;
  color: #FFFFFF;
}
.navbar p {
  font-family: Satisfy;
  font-size: 50px;
}
.nav-link{
  font-size: 18px;
  font-weight: bold;
}
.text-blue{
  color: #011126;
}
 hr{
   height:10px;
   background-color: #29a5bb;
   width: 100%;
   margin-top:20px;
 }
 .container img{
   width: 100%;
 }
 .container p {
   font-size: 20px;
   text-align: justify;

 }
 .text-celeste {
   color: #011126;
   ;
 }
.frase p{
  padding-left: 15px;
  font-style: italic;
  font-size: 40px;
}
.container h1{
  padding-top: 40px;
  margin-top: 40px;

}

.navbar-brand p{
  font-size: 40px;
  text-align: justify;
}

.bg-azul{
  background-color: #011126;
}
